# Flutter
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
*.lock

# Dart
.dart_tool/
pubspec.lock

# Android
android/.gradle
android/local.properties
android/app/debug
android/app/profile
android/app/release
android/.idea
android/app/.idea
*.apk
*.jks

# iOS
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.idea
*.xcarchive
*.ipa

# Web
web/

# Desktop
windows/
macos/
linux/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Environment
.env
.env.local

# Misc
*.bak
*.tmp
*.log
.DS_Store
.env
